<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <roofstock_items>
            <general>
                <enabled>1</enabled>
            </general>
            <email_admin>
                <enabled>0</enabled>
                <send_from>0</send_from>
                <send_to></send_to>
                <template>admin_template</template>
            </email_admin>
        </roofstock_items>
    </default>
</config>
